footer p {
  text-align: center;
  font-size: 0.8em;
}

.filters {
  justify-content: center;
}

.filters li {
  font-size: 0.8em;
  cursor: pointer;
}

.filters li:not(:last-of-type) {
  margin-right: 1em;
}
